apiVersion: apps/v1
kind: Deployment
metadata:
  name: devcalc-deployment
  namespace: tp2
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devcalc
  template:
    metadata:
      labels:
        app: devcalc
    spec:
      containers:
      - name: devcalc
        image: nelsongrossoni/devcalc:praticando
        ports:
        - containerPort: 8080
          protocol: TCP
        livenessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 3
          failureThreshold: 3

